html {

}
body {
	/*	background: repeating-linear-gradient(
  90deg,
  #eee,
  #eee 100px,
  #fff 100px,
  #fff 200px
);*/

	/*background-image: url(../recursos/estatico/imagenes/fondo-01.jpg);
	background-repeat: none;
	background-size: 100% 100%;*/
	background-attachment: fixed;
	color: #333;
	font-family: 'DejaVu Sans', 'Sans', generic;
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-font-smoothing: subpixel-antialiased;
	-o-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	padding: 0px;
	margin: 0px;
}
h1,h2,h3,h4,h5,h6,th,b {
	color: #333;
}
div {
border: 0px solid black;

}
hr {
border: none;
background-color: #ccc;
height: 1px;
/*-webkit-transform: rotate(30deg);*/
}
.separador {
border: none;
background-color: #eee;
height: 1px;
width: 90%
}
code {

}
.cuerpo {
width: 98%;
padding: 0px;
margin-left: auto;
margin-right: auto;
	margin-top: 50px;
}
.cuerpo > div {
vertical-align: top;
display: inline-block;
padding-right: 5px;
padding-left: 5px;
}
.principal {
width: 70%;
}
.secundario {
width: 25%;
height: auto;
right: 0px;
}
.pie {
width: 98%;
font-size: 15px;
margin-left: auto;
margin-right: auto;
}
.entrada {
padding: 10px;
margin-top: 20px;
min-width: 400px;
max-width: 100%;
border: 0px solid black;
}
.entrada td {
padding: 10px;
}
.entrada .emisor {
font-size: small;
font-weight: normal;
color: #aaa;
}
.pie_entrada {
font-size: smaller;
}
.estadisticas {
font-weight: lighter;
}
.mientrastanto {
font-size: small;
font-weight: normal;
color: #aaa;
line-height: 50px;
}
.contenido img {
max-width: 300px;
}
.contenido img:hover:not(.miniavatar) {
width: auto;
max-width: 100%;
}
.comentario {
border-left: 10px solid #f1f1f1;
padding: 10px;
background-color: #fafafa;
}
.avatar {
width: 96px;
height: 96px;
border-radius: 5px;
/*box-shadow:         0px 4px 4px 0px rgba(0, 0, 0, .8);*/
margin: 5px;
}
.avatar[src=noavatar] {
	display: none;
}
.miniavatar {
width: 32px;
height: 32px;
border-radius: 5px;
/*box-shadow:         0px 4px 4px 0px rgba(0, 0, 0, .8);*/
}
.ejemplo {
font-size: small;
text-align: justify;
}
p {
text-align: justify;
}
a,a:link,a:active {
	color: #0088CC;
	text-decoration: none;
}
a:hover {
color: #0088CC;
}
a:visited {
color: #0088CC;
}
iframe {
 border: 0px;
 min-width: 500px;
}
textarea {
	min-height: 300px;
	min-width: 500px;
}
/* Menu Superior*/
#menu {
list-style-type: none;
margin: 0px;
padding: 0px;
position: fixed;
top: 0px;
right: 0px;
left: 0px;
background-color: #222;
color: white;
z-index: 2;
font-weight: lighter;
}
#menu a {
color: white;
}
#menu > li {
display: inline-block;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 25px;
padding-left: 25px;
margin: 0px;
text-shadow: 0em 0em 0.3em black;

}
/*Submenu*/
#menu > li > ul {
padding: 0px;
display: none;
list-style-type: none;
border: 0px solid black;
background-color: gray;
position: absolute;
margin-top: 10px;/*Debe ser igual al espacio inferior de la celda superior, #menu > li > padding-bottom*/
margin-left: -25px;/*Debe ser igual al negativo del espacio izquierdo de la celda superior, #menu > li > padding-left*/
}
#menu > li > ul > li {
display: block;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 25px;
padding-left: 25px;
margin: 0px;
text-shadow: 0em 0em 0.3em black;
}
/*Sub-submenu*/
#menu > li > ul > li > ul {
padding: 0px;
display: none;
list-style-type: none;
border: 0px solid black;
background-color: gray;
position: absolute;
margin-top: -10px;/*Debe ser igual al espacio inferior de la celda superior, #menu > li > padding-bottom*/
margin-left: 25px;/*Debe ser igual al negativo del espacio izquierdo de la celda superior, #menu > li > padding-left*/
}
#menu > li > ul > li > ul > li{
display: block;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 25px;
padding-left: 25px;
margin: 0px;
text-shadow: 0em 0em 0.3em black;
}
/*Hover de linea*/
/**Cambio de color*/
#menu > li:hover:not(:nth-child(2)) {
background-color: orange;
-moz-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
-webkit-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
}
#menu > li li:hover {
background-color: orange;
-moz-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
-webkit-box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
box-shadow:inset 0px 0px 15px rgba(0,0,0,.2);
}
/**Mostrar bloque de submenu y sub-submenu*/
#menu > li:hover > ul {
display: block;
}
#menu > li > ul > li:hover > ul {
display: inline-block;
}
#cb_menu, #lb_menu {
display: none;
}
.usuario {

border: 1px solid #aaa;
border-radius: 10px;
width: 45%;
display: inline-block;
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;
font-size: small;
padding: 5px;
}
.usuario a{
color: orange;

}
.usuario div {
	display: inline-block;
	
}
.usuario .avatar {
	box-shadow: none;
	border: 10px solid #000;
	border-radius: 100%;
	width: 96px;
	height: 96px;
}
.usuario .fechas {
	font-size: smaller;
}
.usuario .acerca, .fechas {
display: none;
}
.usuario:hover .acerca,.usuario:hover .fechas {
display: inline-block;
}
/*#usuarios:target~#entradas,#acerca:target~#entradas {
display: none;
}
#acerca:target, #usuarios:target {
display: block;
}*/
@media screen and (max-width: 55em) {
	#menu>li:not(:nth-child(2)) {
		display: none;
	}
	#cb_menu:checked ~ li{
		display: inline-block;
	}
	#cb_menu:checked ~ li > #lb_menu{
		color: red;
	}
	#lb_menu {
		display: inline;
	}
	#menu li {
		width: 100%;
	}
	#menu > li > ul {
		position: static;
		margin-top: 6px;
		margin-bottom: -6px;
		display: block;
	}
	#menu > li > ul > li {
		padding-left: 35px;
	}
	#menu > li > ul > li > ul {
		position: static;
		margin-top: 6px;
		margin-bottom: -6px;
		margin-left: -35px;
		display: block;
	}
	#menu > li > ul > li > ul > li{
		padding-left: 45px;
	}
	#menu > li > ul > li:hover > ul {
		display: block;
	}
	.usuario {

width: 90%;

}
}
.articulo {
	width: 20%;
	min-height: 125px;
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
display: inline-table;
}
.articulo:hover {
background-color: orange;
}
/* Cuerpo */
#cuerpo {
margin-top: 5%;

}
span * {
display: inline;
}
.boton {
border: 1px solid black;
}
/* pie */
.pie {
	font-size: smaller;
}
#pruebalo {
color: #333;
font-weight: lighter;
}
#pruebalo:hover {
	text-shadow: 0em 0em 0.3em rgba(0,0,0,.8);
}
#pruebalo~table {
	display: inline;
}
#rss {
display: inline-block;
border: 0px solid #aaa;
border-radius: 5px;
margin-top: 0px;
margin-left: 0px;
margin-right: 10px;
padding: 10px;
background: #FF9500;
background: -webkit-linear-gradient(#FF9500, #DC8100); /* For Safari */
background: -o-linear-gradient(#FF9500, #DC8100); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FF9500, #DC8100); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FF9500, #DC8100); /* Standard syntax */
}
#rss:hover {
	background: #DC8100;
}
#megusta {
display: inline-block;
border: 0px solid #aaa;
border-radius: 5px;
margin-top: 0px;
margin-left: 0px;
margin-right: 10px;
padding: 10px;
background: #67E051;
background: -webkit-linear-gradient(#67E051, #5EB14F); /* For Safari */
background: -o-linear-gradient(#67E051, #5EB14F); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#67E051, #5EB14F); /* For Firefox 3.6 to 15 */
background: linear-gradient(#67E051, #5EB14F); /* Standard syntax */
}
#megusta:hover {
	background: #5EB14F;
}
#nomegusta {
display: inline-block;
border: 0px solid #aaa;
border-radius: 5px;
margin-top: 0px;
margin-left: 0px;
margin-right: 10px;
padding: 10px;
background: #FF4E36;
background: -webkit-linear-gradient(#FF4E36, #D44633); /* For Safari */
background: -o-linear-gradient(#FF4E36, #D44633); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#FF4E36, #D44633); /* For Firefox 3.6 to 15 */
background: linear-gradient(#FF4E36, #D44633); /* Standard syntax */
}
#nomegusta:hover {
	background: #D44633;
}
#compartir {
display: inline-block;
border: 0px solid #aaa;
border-radius: 5px;
margin-top: 0px;
margin-right: 0px;
padding: 10px;
background: #555;
background: -webkit-linear-gradient(#555, #00); /* For Safari */
background: -o-linear-gradient(#555, #000); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#555, #000); /* For Firefox 3.6 to 15 */
background: linear-gradient(#555, #000); /* Standard syntax */
}
#compartir>img,#nomegusta>img,#megusta>img,#rss>img {
vertical-align: text-bottom;
height: 24px;
}
#compartir:hover {
	background: #000;
}
.mensajes {
position: fixed;
right: -50%;
top: 10%;
width: 30%;
  -webkit-animation-duration: 10s;
  -webkit-animation-name: desaparecer;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-duration: 10s;
  -moz-animation-name: desaparecer;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -o-animation-duration: 10s;
  -o-animation-name: desaparecer;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: linear;
  animation-duration: 10s;
  animation-name: desaparecer;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
.mensaje {
padding: 10px;
background-color: rgba(0,0,0,.8);
color: #aaa;
border-radius: 5px;
margin-bottom: 10px;
}
.mensaje b {
color: white;
}
@-webkit-keyframes desaparecer {
	0%,75% {
		right: 5%;
	}
	100% {
		right: -50%;
	}
}
@-moz-keyframes desaparecer {
	0%,75% {
		right: 5%;
	}
	100% {
		right: -50%;
	}
}
@-o-keyframes desaparecer {
	0%,75% {
		right: 5%;
	}
	100% {
		right: -50%;
	}
}
@keyframes desaparecer {
	0%,75% {
		right: 5%;
	}
	100% {
		right: -50%;
	}
}
#busqueda {
	font-size: small;
}
input[type=text] {
	border: 0px;
	border-bottom: 1px solid #aaa;
	background: none;
}
input[type=submit] {
border: 0px;
background-color: #0044CC;
background: -webkit-linear-gradient(#0086CC, #0044CC); /* For Safari */
background: -o-linear-gradient(#0086CC, #0044CC); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#0086CC, #0044CC); /* For Firefox 3.6 to 15 */
background: linear-gradient(#0086CC, #0044CC); /* Standard syntax */
border-radius: 5px;
padding: 10px;
color: #fff;
font-weight: lighter;
text-shadow: 0em 0em 0.3em rgba(0,0,0,.8);
}
.cadena {
vertical-align: text-top;
}
address > a:link {
color: #333;
}
#paginacion {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}
.paginacion {
	display: inline-block;
	width: 49%;
	font-weight: lighter;
	font-size: large;
}
.paginacion[href=none] {
	display: none;
}
/*.estrella {
border: 1px solid black;
padding: 10px;
}
.circulo {
padding: 0px;
margin: 0px;
width: 50px;
height: 70px;
border: 10px solid black;
border-radius: 100%;
text-align: center;
}
.circulo:hover {
  -webkit-animation-duration: 1s;
  -webkit-animation-name: rotar;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes rotar {
	0% {
		border-bottom-color: red;
	}
	25% {
		border-right-color: red;
	}
	50% {
		border-top-color: red;
	}
	75% {
		border-left-color: red;
	}
	100% {
		border-bottom-style: red;
	}
}*/