<div id="acerca">
	<p><?=$acerca[0]?></p>
	<p><?=$acerca[1]?></p>
	<blockquote>
		<h2 id="<?=$acerca[2]?>"><?=$acerca[2]?></h2>
		<hr>
		<p><?=$acerca[3]?></p>
		<h2 id="<?=$acerca[4]?>"><?=$acerca[4]?></h2>
		<hr>
		<p><?=$acerca[5]?></p>
		<blockquote><p><?=$acerca[6]?></p>
		<br>
		<code>http://ppump.redaustral.tk/rss.php?filtro=protestation,identi.ca,sotitrox@i.rationa.li</code>
		</blockquote>
		<p><font size="1"><i><?=$acerca[7]?></i></font></p>
		<h2 id="<?=$acerca[8]?>"><?=$acerca[8]?></h2>
		<hr>
		<ul>
			<li><a href="https://gitorious.org/ppump" ><?=$acerca[9]?></a></li>
			<li><a href="http://wiki.redaustral.tk/wikka.php?wakka=PPump" >Wiki</a></li>
			<li><a href="http://reportes.redaustral.tk/" ><?=$acerca[10]?></a></li>
			<li><a href="http://pump.io" >Pump.io</a></li>
			<li><a href="http://ofirehose.com" >Ofirehose.com</a></li>
		</ul>
	</blockquote>
</div>