<table border=0 class="entrada">
	<tr>
		<td valign=top>
			<img src="<?=$avatar?>" class="avatar" alt="avatar">
		</td>
		<td class="emisor">
			<?=$like[0]?>
		</td>
	</tr>
</table>
<hr class="separador">