<table border=0 class="entrada">
	<tr>
		<td rowspan=2 valign=top>
			<img src="<?=$avatar?>" class="avatar" alt="avatar">
		</td>
		<td class="emisor">
			<h2><?=$titulo?></h2>
			<?=$postnota[0]?>
		</td>
	</tr>
	<tr>
		<td class="contenido">
			<?=$mensaje?>
		</td>
	</tr>
</table>
<hr class="separador">