<table border=0 class="entrada">
	<tr>
		<td rowspan=2 valign=top>
			<img src="<?=$avatar?>" class="avatar" alt="avatar">
		</td>
		<td class="emisor">
			<h2><?=$titulo?></h2>
			<?=$postcomentarioimagen[0]?>
		</td>
	</tr>
	<tr>
		<td class="contenido">
		<img src='<?=$imagen?>'><br><?=$mensaje?>
			<blockquote class="comentario">
				<table summary="" >
					<tr>
						<td valign=top><img src="<?=$comava?>" class="miniavatar" alt="avatar"></td>
						<td><?=$commen?><br><font size="2"><?=$postcomentario[1]?></font></td>
					</tr>
				</table>
			</blockquote>
		</td>
	</tr>
</table>
<hr class="separador">