<table width="100%">
<tr>
	<td><h1 id="<?=$subtitulo?>"><?=$subtitulo?></h1><a id="pruebalo" href="http://pump.io/tryit.html"><?=$pruebalo[0]?></a></td>
	<td align="right" class="estadisticas"><a id="rss" href="rss.php" ><img class="cadena" src="<?=$BASE?>recursos/estatico/graficos/minifeed.png" alt="" /></a><a id="megusta" href="https://hip2.it/hip?url=<?=$BASE?>" ><img class="cadena" src="<?=$BASE?>recursos/estatico/graficos/Symbol_thumbs_up.png" alt="" /></a><a id="nomegusta" href="https://ih8.it/h8?url=<?=$BASE?>" ><img class="cadena" src="<?=$BASE?>recursos/estatico/graficos/Symbol_thumbs_down.png" alt="" /></a><a id="compartir" href="http://granada.redaustral.tk/url.php?url=<?=$BASE?>" ><img class="cadena" src="<?=$BASE?>recursos/estatico/graficos/compartir.png" alt="" /></a></td>
</tr>
</table>
<hr>