<h3><?=$usuariosbusqueda[0]?></h3>
<hr>
<form method="GET" action="usuarios/">
<table id="busqueda">
<tr>
	<td><label for="lugar"><?=$usuariosbusqueda[1]?></label></td>
	<td><input type="text" name="l" id="lugar" placeholder="<?=$usuariosbusqueda[22]?>"></td>
</tr>
<tr>
	<td><label for="nombre"><?=$usuariosbusqueda[2]?></label></td>
	<td><input type="text" name="a" id="nombre" placeholder="<?=$usuariosbusqueda[23]?>"></td>
</tr>
<tr>
	<td><label for="servidor"><?=$usuariosbusqueda[3]?></label></td>
	<td><input type="text" name="s" id="servidor" placeholder="<?=$usuariosbusqueda[24]?>"></td>
</tr>
<tr>
	<td><label for="acerca"><?=$usuariosbusqueda[4]?></label></td>
	<td><input type="text" name="b" id="servidor" placeholder="<?=$usuariosbusqueda[25]?>"></td>
</tr>
<tr>
	<td><label for="fecha"><?=$usuariosbusqueda[5]?></label></td>
	<td><select name="f" id="fecha">
	<option value="">---</option>
	<option value="1"><?=$usuariosbusqueda[6]?></option>
	<option value="2"><?=$usuariosbusqueda[7]?></option>
	<option value="3"><?=$usuariosbusqueda[8]?></option>
	<option value="4"><?=$usuariosbusqueda[9]?></option>
	<option value="5"><?=$usuariosbusqueda[10]?></option>
	<option value="6"><?=$usuariosbusqueda[11]?></option>
	<option value="7"><?=$usuariosbusqueda[12]?></option>
</select></td>
</tr>
<tr>
	<td><label for="orden"><?=$usuariosbusqueda[13]?></label></td>
	<td><select name="o" id="orden">
	<option value="">---</option>
	<option value="1"><?=$usuariosbusqueda[14]?></option>
	<option value="2"><?=$usuariosbusqueda[15]?></option>
	<option value="3"><?=$usuariosbusqueda[16]?></option>
	<option value="4"><?=$usuariosbusqueda[17]?></option>
	<option value="5"><?=$usuariosbusqueda[18]?></option>
</select></td>
</tr>
<tr>
	<td colspan="2"><label for="decreciente"><?=$usuariosbusqueda[19]?></label><input type="radio" id="decreciente" value="1" name="c"><label for="creciente"><?=$usuariosbusqueda[20]?></label><input type="radio" id="creciente" value="2" name=c></td>
</tr>
<tr>
<td colspan="2" align="right"><input type="submit" value="<?=$usuariosbusqueda[21]?>"/></td>
</tr>
</table>
</form>