<table border=0 class="usuario">
	<tr>
		<td>
			<img class="avatar" src="<?=$avatar?>" alt="avatar">
		</td>
		<td class="contenido">	
			<b><a href="<?=$url?>" target="_blank"><?=$alias?></a></b> <a href="https://pump2rss.com/feed/<?=$id?>.atom" title="<?=$usuarios[2]?>"><img class="cadena" src="recursos/estatico/graficos/rss-mini.png" alt="atom"></a>
			<hr>
			<address><?=$id?><br><a href="https://www.openstreetmap.org/search?commit=Ir&query=<?=$lugar?>&" target="_blank"><?=$lugar?></a></address>
			<?=$seguidores?><?=$usuarios[0]?><br>
			
		</td>
	</tr>
	<tr>
		<td colspan="2">
		<p class="acerca"><?=$acerca?></p>
		<p class="fechas">
			<?=$usuarios[1]?>.
		</p>
		</td>
	</tr>
</table>
